.content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.food-menu {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 993px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-menu-title {
    position: absolute;
    top: 69px;
    box-sizing: border-box;
    width: 450px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-menu-title-1 {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    color: #333333;
}

.p-menu-title-2 {
    position: relative;
    top: 12px;
    font-family: 'Lato' , sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #555555;
}

.grid-menu {
    position: absolute;
    top: 202px;
    box-sizing: border-box;
    width: 1170px;
    height: 700px;
    display: grid;
    grid-template-columns: 568px 568px;
    grid-template-rows: 336px 336px;
    grid-gap: 28px 34px;
}

.grid-items-buy-now {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

.img-buy-now {
    z-index: -1;
}

.grid-items-buy-now:hover .buy-now-button {
    display: flex;
}

.grid-items-buy-now:hover .black-div {
    opacity: 0.5;
}

.buy-now-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 64px;
    background-color: #F7832A;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    display: none;
    z-index: 1;
}

.buy-now-button:hover {
    cursor: pointer;
}

.buy-now-button > span {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.intro {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.intro-banner {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.intro-content {
    width: 717px;
    text-align: center;
}

.p-intro-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 41px;
    color: #FFFFFF;
}

.p-intro-content {
    position: relative;
    top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: #FFFFFF;
    background-color: ;
}

.order-button {
    width: 135px;
    height: 50px;
    background-color: #D53232;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-order-button {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: #FFFFFF;
}

.order-button:hover {
    cursor: pointer;
}

.top-recommended {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 971px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.top-recommended-title {
    position: absolute;
    width: 1141px;
    top: 67px;
}

.top-recommended-food-title {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
}

.p-top-recommended-food-title{
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    color: #333333;
}

.top-recommended-option {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
}

.p-top-recommended-option {
    display: inline-block;
    font-family: 'Lato' , sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #444444;
}

.p-top-recommended-option:hover {
    cursor: pointer;
}

.p-top-recommended-option:not(:first-child){
    margin-left: 27px;
}

.grid-menu-recommended {
    position: absolute;
    box-sizing: border-box;
    top: 120px;
    width: 1141px;
    height: 728px;
    display: grid;
    grid-column-gap: 31px;
    grid-row-gap: 28px;
}

.grid-item {
    position: relative;
    box-sizing: border-box;
    width: 262px;
    height: 349px;
}

.item-image {
    width: 262px;
    height: 262px;
}

.item-image > a > img {
    width: 100%;
    height: 100%;
}

.item-name {
    position: relative;
    margin-top: 21px;
    font-family: 'Lato' , sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    color: #333333;
}

.item-price {
    position: absolute;
    top: 327px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #FF3939;
}

.item-add {
    position: absolute;
    top: 327px;
    left: 241px;
    width: 20px;
    height: 20px;
}

