.menu {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 693px;
}

.menu-banner {
    width: 100%;
    height: auto;
}


.menu-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.logo {
    position: relative;
    margin-left: 23.33%;
    width: 100px;
    height: 100px;
    background-color: white;
}

.menu-label {
    position: relative;
    margin-left: 169px;
    box-sizing: border-box;
    width: 29.01%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-label > li {
    color: white;   
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.menu-label > li:hover {
    cursor: pointer;
}

.calling-me {
    position: relative;
    margin-left: 66px;
    box-sizing: border-box;
    width: 210px;
    height: 66px;
    flex-direction: row;
    justify-content: space-between;
}

.mini-phone {
    position: relative;
    width: 21px;
    height: 21px;
    float: left;
}

.mini-phone:hover {
    cursor: pointer;
}

.p-phone-number {
    position: relative;
    font-size: 20px;
    margin-left: 34px;
    font-weight: 500;
    line-height: 21px;
    color: white;
}

.p-phone-number:hover {
    cursor: pointer;
}

.p-phone-number > strong {
    color: white;
}

.p-phone-number > strong:hover {
    cursor: default;
}

.delivery {
    position: relative;
    margin-top: 15px;
    background-color: #F80823;
    width: 210px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.delivery:hover {
    cursor: pointer;
}

.p-delivery {
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    color: #FFFFFF;
}

.cart {
    position: absolute;
    top: 18px;
    right: 0px;
    box-sizing: border-box;
    width: 96px;
    height: 190px;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

.cart-content {
    width: 100%;
    height: calc(190px/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart > .cart-content:first-child {
    border-bottom: 1px dashed white;
}

.p-cart {
    margin-top: 9px;
    font-size: 15px;
    color: white;
}

